/*buttons*/
.button-small,
.button-medium,
.button-large,
.button-fave{
    background: url("/images/sprites/buttons-master.png") repeat-x scroll 0px -121px transparent;
    background-color: #1b9dbc; 
    position: relative;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: 23px;
    line-height: 23px;
    padding: 0 11px;
    margin-bottom: 9px;
    border-color: #67bdd4 #4ab1cc #359bbd;
    border-style: solid;
    border-width: 1px;
    outline: none;
    cursor: pointer;  
    display: inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 0 #e8e8e8;
    -webkit-box-shadow: 0 1px 0 #e8e8e8;
    box-shadow: 0 1px 0 #e8e8e8;
}
    a.button:link, a.button:visited, a.button-small:link, a.button-small:visited,
    a.button-medium:link, a.button-medium:visited, a.button-large:link, a.button-large:visited{
        color: #fff;
        text-decoration: none;  
    }
    .button span, .button-small span, .button-medium span,
    .button-large span{
        line-height: 24px;
        display: inline-block;
        height: 100%;
        float: left;
    }
    
/*size*/
    .button-small{
        background-position: 0 -495px;   
        height: 18px;
        line-height: 18px !important;
        font-size: 11px;  
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        padding: 0 5px 0 5px;
        margin-bottom: 0;
        vertical-align: top;
    }
        .button-small span{
            line-height: 19px;
        }
    .button-large{
        background-position: 0px -1px;   
        height: 33px;
        line-height: 33px !important;
        font-size: 14px;  
        padding: 0 13px 0 13px;
    }
        .button-large span{
            line-height: 34px;
        }
        
/*color*/
    .button-grey, .button-small-grey, .button-medium-grey, .button-large-grey{
        background-color: #a0a0a0;
        border-color: #bebebe #b3b3b3 #9e9e9e;
    }
    .button-green, .button-small-green, .button-medium-green, .button-large-green{
        background-color: #53A608;
        border-color: #88c346 #72b821 #5da80e;
    }
    .button-disabled, .button-small-disabled, .button-medium-disabled, .button-large-disabled,
    .button-medium-disabled.button-medium.button-fb, .button-large-disabled.button-large.button-fb,
    .button-medium-disabled.button-medium.button-tw, .button-large-disabled.button-large.button-tw{       
        background-color: #d2d2d2;
        border-color: #e1e1e1 #dcdcdc #d0d0d0;
        cursor: default;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
        .button-small-disabled{
            background-position: 0 -570px;
        }
        .button-medium-disabled{
            background-position: 0 -316px;
        }
        .button-large-disabled{
            background-position: 0 -276px;
        }
    .button-large-cart{
        background-color: #53A608;
        border-color: #88c346 #72b821 #5da80e;
    }

/*Button Status*/
    .button-small:hover,
    .button-small-hover{
        background-position: 0px -520px;
        text-decoration: none;
    }
    .button-small:active,
    .button-small-active,
    .button-small-active:hover{
        background-position: 0px -545px;
        text-decoration: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .button-medium:hover,
    .button-medium-hover{
        background-position: 0px -161px;
        text-decoration: none;
    }
    .button-medium:active,
    .button-medium-active,
    .button-medium-active:hover{
        background-position: 0px -201px;
        text-decoration: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .button-large:hover,
    .button-large-hover{
        background-position: 0px -41px;
        text-decoration: none;
    }
    .button-large:active,
    .button-large-active,
    .button-large-active:hover
    {
        background-position: 0px -81px;
        text-decoration: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .button-small-disabled:hover, .button-small-disabled:active,
    .button-small-disabled-hover, .button-small-disabled-active{
        background-position: 0px -570px;
        text-decoration: none;   
    }
    .button-medium-disabled:hover, .button-medium-disabled:active,
    .button-medium-disabled-hover, .button-medium-disabled-active{
        background-position: 0px -316px;
        text-decoration: none;   
    }
    .button-large-disabled:hover, .button-large-disabled:active,
    .button-large-disabled-hover, .button-large-disabled-active{
        background-position: 0px -276px;
        text-decoration: none;   
    } 
    
/*input specific*/
span.button-small, span.button-medium, span.button-large{
    padding: 0;
}
span.button-small span
span.button-medium span,
span.button-large span {
    padding: 0;
}
    .button-small input,
    .button-medium input, 
    .button-large input{
        background: transparent;
        color: #FFFFFF;    
        font-family: arial,sans-serif;
        cursor: pointer;
        white-space: nowrap;
        font-weight: bold;
        overflow: visible;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        border: 0 none;
        position: relative;
        display: inline-block;
        outline: none;
        position: relative;
        vertical-align: top;
        margin: 0px;
    }
        .button-small input{
            font-size: 11px; 
            height: 19px;
            line-height: 19px;
            padding: 0 5px 0 5px;
        }
        .button-large input{
            font-size: 14px; 
            height: 34px;
            line-height: 34px;
            padding: 0 13px 0 13px;
        }
        .button-medium input{
            padding: 0 11px 0 11px;
        }
        .button-small span input::-moz-focus-inner, .button-medium span input::-moz-focus-inner, .button-large span input::-moz-focus-inner { /* fix for firefox */
           border: 0;
           padding: 0;
        }
        .button-small span input:focus, .button-medium span input:focus, .button-large span input:focus {
            outline: none;
        }
        .button-small-disabled:hover span input, .button-medium-disabled:hover span input, .button-large-disabled:hover span input,
        .button-small-disabled-hover span input, .button-medium-disabled-hover span input, .button-large-disabled-hover span input{
            cursor: default;
        }
    
/*cart specific*/
span.button-large-cart, a.button-large-cart{
   padding: 0;
}
   .button-large-cart span{
       background: url("/images/sprites/buttons-master.png") no-repeat scroll 10px -233px transparent;   
   }
   .button-large-cart input, a.button-large-cart span{
       padding: 0 14px 0 53px;
       margin: 0;
       left: 0;
   }    

    
/* Panel Button
--------------------------------- */ 
.button-medium-panel span {
    width: 133px;
}

/* Fave Button
--------------------------------- */
.button-fave {
    background-color: #d2d2d2;
    border-color: #e3e3e3 #e3e3e3 #dedede;
    background-color: #fbfaf8;
    background-position: 0 -354px;
    font-weight: normal;
    height: 23px;
    line-height: 23px !important;
    margin-bottom: 1px;
    /*outline: none;*/
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    position: relative;
    -moz-box-shadow: 0 1px 0 #f4f4f4;
    -webkit-box-shadow: 0 1px 0 #f4f4f4;
    box-shadow: 0 1px 0 #f4f4f4;
}
    .button-fave span {
        background: url("/images/sprites/buttons-master.png") no-repeat scroll 4px -438px transparent;
        padding: 0 9px 0 29px;
        display: inline-block;
        height: 23px;
        line-height: 24px;
        color: #888888;
    }
    /* german language override */
    .de .button-fave span {
        background: url("/images/sprites/buttons-master.png") no-repeat scroll 3px -438px transparent;
        padding-right: 8px;
        white-space: nowrap;
    }
    .button-fave:hover {
        background-position: 0 -382px;
        text-decoration: none;
    }
    .button-fave:active {
        background-position: 0 -410px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .favorited-button span.favorite-text,
    .unfavorited-button span.unfavorite-text {
        display: none;
    }

    .favorited-button span{
        background: url("/images/sprites/buttons-master.png") no-repeat scroll 4px -466px transparent;
    }
    /* german language override */
    .de .favorited-button span{
        background: url("/images/sprites/buttons-master.png") no-repeat scroll 3px -466px transparent;
    }
    
    /*spinner*/
    .favoriting,
    .favoriting:hover,
    .favoriting:active {
        background: url("/images/sprites/buttons-master.png") repeat-x scroll 4px -354px #fbfaf8;
    }
        .favoriting span,
        .favoriting:hover span,
        .favoriting:active span {
            background: url("/images/sprites/buttons-master.png") repeat-x scroll 4px -354px #fbfaf8;
        }

        .favoriting div.button-spinner {
            width: 16px;
            height: 16px;
            position: absolute;
            top: 4px;
            left: 6px;
            background: none;
        }

        .favoriting div.show {
            background: transparent url("/images/spinners/spinner16-trans.gif") no-repeat 0 0px;
        }


/* Social Connection Buttons
--------------------------------- */
/*facebook*/

.button-fb span, .button-tw span{
        background: url("/images/sprites/connected-accounts-sprite.png") no-repeat scroll 0 -89px transparent;
}

.button-fb.button-medium{
    background-color: #3866B0;
    border-color: #728fc4;
    padding-left: 0;
}
    .button-fb.button-medium span{
        background-position: 0 -89px;
        padding-left: 25px;
    }
.button-fb.button-large{
    background-color: #3866B0;
    border-color: #728fc4;
    padding-left: 0;
}
    .button-fb.button-large span{
        background-position: 0 5px;
        padding-left: 36px;
    }

/*twitter*/
.button-tw.button-medium{
    background-color: #01B0E0;
    border-color: #24B9E1;
    padding-left: 0;
    margin: 0;
}
    .button-tw.button-medium span{
        padding-left: 25px;
        background-position: 1px -132px;
    }
.button-tw.button-large{
    background-color: #01B0E0;
    border-color: #24B9E1;
    padding-left: 0;
    margin: 0;
}
    .button-tw.button-large span{
        padding-left: 36px;
        background-position: 4px -40px;
    }

/* Stack Button
--------------------------------- */
.button-stack {
    margin-left: 4px;
    background: transparent url("/images/sprites/buttons-favorite-master.png") no-repeat 0 -26px;
    height: 26px;
    line-height: 26px;
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    /*outline: none;*/
    cursor: pointer;
    padding-left: 7px;
    text-decoration: none;
    position: relative;
}
    .button-stack span {
        background: transparent url("/images/sprites/buttons-favorite-master.png") no-repeat right 0px;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding-right: 7px;
        color: #888888;
    }
.button-stack:hover {
    background-position: 0 -78px;
    text-decoration: none;
}
    .button-stack:hover span {
        background-position: right -52px;
    }
.button-stack:active {
    background-position: 0 -130px;
}
    .button-stack:active span {
        background-position: right -104px;
    }


/* Circle Button
--------------------------------- */
/** default states */
.add-to-circle-button {
    margin-top: 18px;
    height: 26px;
}
.as-link {
    margin-top: 0;
    height: 16px;
}

.add-to-circle-button .in-circle {
    display: none;
}

.add-to-circle-in .button-circle,
.add-to-circle-in .button-circle-blue,
.add-to-circle-in .add-to-circle-link {
    display: none;
}
.add-to-circle-in .in-circle {
    display: block;
}

.button-circle {
    background: transparent url("/images/sprites/buttons-favorite-master.png") no-repeat 0 -234px;
    height: 26px;
    line-height: 26px;
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    padding-left: 30px;
    text-decoration: none;
    position: relative;
}
    .button-circle span {
        background: transparent url("/images/sprites/buttons-favorite-master.png") no-repeat right 0px;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding-right: 10px;
        color: #888888;
    }
    .button-circle:hover {
        background-position: 0 -260px;
        text-decoration: none;
    }
        .button-circle:hover span {
            background-position: right -52px;
        }
    .button-circle:active {
        background-position: 0 -286px;
    }
        .button-circle:active span {
            background-position: right -104px;
        }

.add-to-circle-button .add-to-circle-link {
    height: 16px;
    position: relative;
    background: none;
}
.add-to-circle-button .add-to-circle-link:hover,
.add-to-circle-button .add-to-circle-link:active {
    background: none;
}
    .add-to-circle-button .add-to-circle-link:hover > span,
    .add-to-circle-button .add-to-circle-link:active > span {
        background: none;
    }
    .add-to-circle-button .add-to-circle-link > span {
        float: left;
        padding-right: 8px;
        line-height: 16px;
        background: none;
    }
    .add-to-circle-link .spinner-small {
        display: none;
        float: left;
        margin-left: 3px;
        margin-top: 0;
    }
    .add-to-circle-link .show {
        display: block;
    }

.in-circle {
    }
.in-circle {
    height: 26px;
    position: relative;
}
.in-circle > span {
    float: left;
    padding-right: 8px;
    line-height: 26px;
}
.as-link .in-circle {
    height: 16px;
    position: relative;
}
.as-link .in-circle > span {
    float: left;
    padding-right: 8px;
    line-height: 16px;
}
    .add-to-circle-button .in-circle .button-remove {
        float: left;
        display: none;
        margin-top: 5px;
        position: static;
    }
    .as-link .in-circle .button-remove {
        margin-top: 0;
    }
    .add-to-circle-button .in-circle:hover .button-remove {
        display: block;
    }

    /*version b*/
    .add-to-circle-button-blue .button-medium{
        margin: 0;     
    }
    .add-to-circle-spinner.show {
        display: inline;
    }
    .add-to-circle-spinner{
        padding-right: 24px;
        background: url('/images/spinners/spinner16.gif') no-repeat right 5px transparent; 
        float: left;    
        display: none;
        height: 26px;
    }
        .add-to-circle-spinner.tan{
            background: url('/images/spinners/spinner16-tan.gif') no-repeat right 5px transparent; 
        }

        .add-to-circle-spinner.blue{
            background: url('/images/spinners/spinner16-blue.gif') no-repeat right 5px transparent; 
        }

        .add-to-circle-spinner.blue-darker{
            background: url('/images/spinners/spinner16-blue-darker.gif') no-repeat right 5px transparent; 
        }

    /* The new add to circle button can be mirrored as well */
    .add-to-circle-button-blue.mirror .add-to-circle-spinner {
        background-position: left;
        padding-right: 0;
        padding-left: 24px;
    }

    /*tooltip for add to circle button*/
    .tt-add-circle.tt.tt-mini{
        display: block; 
        position: relative;
        margin: 18px 0 -6px 0;
        width: 110px;
        padding: 8px 12px 9px;
        line-height: 13px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
        .tt-add-circle.tt.tt-mini p{
            padding: 0;
        }
        .tt-add-circle.tt.tt-mini .dismiss{
            position: absolute; right: 0; top: 1px;
            background: transparent url('/images/sprites/buttons-master.png') no-repeat -64px -1326px;
            display: block;
            width: 16px;
            height: 16px;
            text-indent: -999em;
        }
        .tt-add-circle.tt.tt-mini .tt-arrow{
            left: 19px;
        }

    .add-to-circle-button-blue .favoriting {
        display: none;
    }


/* Remove Button
--------------------------------- */
.button-remove,
input.button-remove,
button.button-remove,
.button-remove.button-remove-quiet:hover {
    background: transparent url("/images/sprites/buttons-master.png") no-repeat 0 -1326px;
    display: block; 
    width: 16px;
    height: 16px;
}
	* html .button-remove,
	* html input.button-remove,
	* html button.button-remove {
	    background: transparent url("/images/sprites/buttons-master.png") no-repeat 0 -1326px;
	}

	.button-remove span {
		display:none;
	}
	
	.button-remove.button-remove-quiet {
		background-position: -64px -1326px;
	}


	/* button and input specific styles */
	button.button-remove,
	input.button-remove {
		border:0 none;
		display:inline;
		vertical-align:bottom;
		text-indent:-999em;
	}
    .button-remove span {
        display: none;
    }
   .button-remove:hover,
	input.button-remove:hover,
	button.button-remove:hover {
        background-position: -16px -1326px;
    }
   	.button-remove:active,
	input.button-remove:active,
	button.button-remove:active {
        background-position: -32px -1326px;
    }

/* Edit Button
--------------------------------- */
.button-edit,
input.button-edit,
button.button-edit {
    	background: url("/images/sprites/buttons-master.png") no-repeat scroll 0 -1358px transparent;
	    height: 16px;
	    width: 16px;
}
	.button-edit span {
		display:none;
	}
	
	.button-edit.button-edit-quiet {
		background-position: -64px -1358px;
	}
	
	.button-edit:hover,
	input.button-edit:hover,
	button.button-edit:hover {
        background-position: -16px -1358px;
    }
   	.button-edit:active,
	input.button-edit:active,
	button.button-edit:active {
        background-position: -32px -1358px;
    }
	
	/* button and input specific styles */
	button.button-edit,
	input.button-edit {
		border:0 none;
		display:inline;
		vertical-align:bottom;
		text-indent:-999em;
	}


/* Add Button 
----------------------------------*/
.button-add {
    background: transparent url("/images/sprites/buttons-master.png") no-repeat 0 -1244px;
    display: block; 
    width: 28px;
    height: 28px;
	text-indent:-999em;
}
	* html .button-add  {
	    background: transparent url("/images/sprites/buttons-master.png") no-repeat 0 -1244px;
	}

/* Favorite Button
--------------------------------- */
.button-favorite,
.button-favorite.button-favorite-quiet:hover {
    background: transparent url("/images/sprites/buttons-master.png") no-repeat 0 -1342px;
    display: block;
	margin-top:-1px;
    width: 16px;
    height: 16px;
}
	* html .button-favorite {
	    background: transparent url("/images/sprites/buttons-master.png") no-repeat 0 -1342px;
	} 

	.button-favorite.button-favorite-quiet {
		background-position: -64px -1342px;
	}

    .button-favorite span {
        display: none;
    }
    .button-favorite:hover {
        background-position: -16px -1342px;
    }
    .button-favorite:active {
        background-position: -32px -1342px;
    }

/* Inline Listing Card Hearts
--------------------------------- */
ul.listings .hide-link a,
ul.listings-listview .hide-link a {
    display: none;
}
    ul.listings .show-inline-buttons .hide-link a,
    ul.listings-listview .show-inline-buttons .hide-link a,
    ul.listings a.button-favorite-active,
    ul.listings-listview a.button-favorite-active {
        display: block;
    }

    ul.no-inline-hearts .show-inline-buttons .hide-link a.button-favorite,
    ul.no-inline-hearts a.button-favorite-active {
        display: none;
    }

ul.listings a.button-favorite {
    position: absolute;
    top: 10px;
    left: 10px;
    background-position: -48px -1342px;
}
ul.listings-listview a.button-favorite {
    position: absolute;
    top: 12px;
    left: 11px;
    background-position: -48px -1342px;
}
    ul.listings a.button-favorite:hover,
    ul.listings-listview a.button-favorite:hover {
        background-position: -16px -1342px;
    }
    ul.listings a.button-favorite:active,
    ul.listings a.button-favorite-active,
    ul.listings a.button-favorite-active:hover,
    ul.listings-listview a.button-favorite:active,
    ul.listings-listview a.button-favorite-active,
    ul.listings-listview a.button-favorite-active:hover {
        background-position: -32px -1342px;
    }
    ul.listings a.button-favorite span,
        ul.listings-listview a.button-favorite span {
        text-indent: -9999em;
    }

/* Contact Button
--------------------------------- */
.button-contact,
.button-contact.button-contact-quiet:hover {
	background: transparent url("/images/sprites/buttons-master.png") no-repeat 0 -1422px;
    display: block;
    width: 16px;
    height: 16px;
}
	* html .button-contact {
	    background: transparent url("/images/sprites/buttons-master.png") no-repeat 0 -1422px;
	}

	.button-contact.button-contact-quiet {
	    background-position:-64px -1422px;
	}

	.button-contact span {
        display: none;
    }
    .button-contact:hover {
        background-position: -16px -1422px;
    }
    .button-contact:active {
        background-position: -32px -1422px;
    }

/* Checkboxes
--------------------------------- */
.js-checkbox {
    width: 14px;
    height: 15px;
    background-image: url('/images/sprites/buttons-master.png');
    background-position: 0 -1194px;
    display: inline-block;
}
.js-checkbox-hover {
    background-position: -15px -1194px;
}
.js-checkbox-active {
    background-position: -30px -1194px;
}

.js-checkbox-partial {
    background-position: 0 -1210px;
}
.js-checkbox-partial-hover {
    background-position: -15px -1210px;
}
.js-checkbox-partial-active {
    background-position: -30px -1210px;
}

.js-checkbox-checked {
    background-position: 0 -1226px;
}
.js-checkbox-checked-hover {
    background-position: -15px -1226px;
}
.js-checkbox-checked-active {
    background-position: -30px -1226px;
}

/* File upload buttons
--------------------------------- */
.js-upload-frame {
    position: relative;
    display: block;
    overflow: hidden;
    float: left;
}
    .js-upload-frame .js-upload-file {
        height: 200px;
        margin-top: -100px;
        position: absolute;
        top: 50%;
        right: 0;
        font-size: 200px;
        opacity: 0;
        filter:alpha(opacity=0);
        cursor: pointer;
    }
    .js-upload-frame .js-upload-file.disabled {
        cursor: default;
    }
